---
// src/layouts/Layout.astro
const { title } = Astro.props;
import ThemeToggle from '/src/components/Theme.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
    <title>{title ? `${title} | Manuel Blanco` : "Manuel Blanco - Portfolio"}</title>

    <!-- CSS global -->
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/global.css`} />
  </head>
  <body>
    <header>
      <a href="https://www.instagram.com/manucho.dev" target="_blank">
        <h1>Manuel Blanco</h1>
      </a>
      <p>Programador Full Stack | Desarrollo Web | Aplicaciones Modernas | Desarrollo de Videojuegos</p>
      <ThemeToggle />
    </header>

    <main>
      <slot /> <!-- Aquí se inyecta el contenido de cada página -->
    </main>

    <footer>
      <p>&copy; 2025 Manuel Blanco</p>
    </footer>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
</style>
